body{
    background-color: coral;
}


.img_shop{
    height: 2rem;
    width: 2rem;
}

.text-lg{
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}

.row{
    display: flex;
    align-items: center;

}
